.notification-centre {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-centre .notification-btn {
    background-color: #0B101C;
    padding: 1.25rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 56px;
    height: 56px;
}

.notification-centre .notification-btn:hover {
    background-color: #101726;
}

.notification-centre .notification-btn .notification-count {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.625rem;
    color: #171717;
    font-weight: 600;
    background: #FA9D46;
    padding: 0.3125rem 0.365rem;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transform: translate(30%, -20%);
}


.notification-centre .notifications-container {
    position: absolute;
    top: 100%;
    right: 0;
    height: fit-content;
    max-height: calc(100vh - 10rem);
    max-width: 458px;
    width: 100vw;
    margin-top: 0.5rem;
    overflow-y: auto;
    background-color: #0B101C;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: +1000;
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.5);
    padding: 2.75rem;
    gap: 4.625rem;
}

.notification-centre .notifications-container.open {
    animation: openModal 0.35s ease-out 1;
}

.notification-centre .notifications-container.close {
    animation: closeModal 0.35s ease-out 1;
}

.notification-centre .notification {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 0.5rem;
}

.notification-centre .notification .notification_icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.07);
    margin-bottom: auto;
}

.notification-centre .notification .notification_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.notification-centre .notification .notification_content .notification_title {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.notification-centre .notification .notification_content .notification_date {
    font-size: 0.675rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.43);
}

.notification-centre .notification .notification_content .notification_message {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
    color: #C2C3C6;
}

.notification-centre .no-notifications_message {
    filter: opacity(0.6);
    font-weight: 200;
    font-size: 1rem;
}

@keyframes openModal {
    0% {
        /* transform: scale(0);
        transform-origin: top right; */
        filter: opacity(0);
    }

    100% {
        /* transform: scale(1);
        transform-origin: top right; */
        opacity: 0.4;
    }

}

@keyframes closeModal {
    from {
        /* transform: scale(1);
        transform-origin: top right; */
        filter: opacity(1);
    }

    to {
        /* transform: scale(0);
        transform-origin: top right; */
        filter: opacity(0);
    }
}