.home_page {
    margin-top: 44px;
    width: 100%;
}

.home_page .header_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.home_page .header_container .title {
    font-size: 1rem;
    font-weight: 900;
}

.home_page .header_container .subtitle {
    font-size: 0.875rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}



.home_page .cards_container {
    margin-top: 1rem;
    display: grid;
    grid: 'a a a b  b';
    width: 100%;
    min-height: fit-content;
    grid-gap: 1rem;
}

.home_page .cards_container .main_card,
.home_page .cards_container .secondary_card {
    position: relative;
    height: 100%;
    background: #0B101C;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}

.home_page .cards_container .main_card::before,
.home_page .cards_container .secondary_card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(139deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.06) 100%);
    z-index: +9;
}

.home_page .cards_container .main_card {
    grid-area: a;
}

.home_page .cards_container .secondary_card {
    grid-area: b;
}

.home_page .cards_container .main_card img.image,
.home_page .cards_container .secondary_card img.image {
    position: absolute;
    inset: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 0.75rem;
}

.home_page .cards_container .main_card .card_content,
.home_page .cards_container .secondary_card .card_content {
    width: 100%;
    height: 100%;
    padding: 1.125rem 0.5rem;
    z-index: +10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.home_page .cards_container .main_card .card_content .header,
.home_page .cards_container .secondary_card .card_content .header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-grow: unset;
    justify-content: space-between;
    align-items: center;
}

.home_page .cards_container .main_card .card_content .header .categories,
.home_page .cards_container .secondary_card .card_content .header .categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home_page .cards_container .main_card .card_content .header .categories .category,
.home_page .cards_container .secondary_card .card_content .header .categories .category {
    padding: 0.4375rem 1rem 0.1875rem;
    background-color: #FAFAFA;
    color: #1D1D1D;
    border-radius: 3rem;
    font-size: 0.625rem;
    font-weight: 900;
}

.home_page .cards_container .main_card .card_content .header .title_container,
.home_page .cards_container .secondary_card .card_content .header .title_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.375rem;
}

.home_page .cards_container .main_card .card_content .header .title_container .title,
.home_page .cards_container .secondary_card .card_content .header .title_container .title {
    font-size: 15px;
    font-weight: 900;
}

.home_page .cards_container .main_card .card_content .header .title_container .developer,
.home_page .cards_container .secondary_card .card_content .header .title_container .developer {
    font-size: 0.75rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

.home_page .cards_container .main_card .card_content .description,
.home_page .cards_container .secondary_card .card_content .description {
    margin-top: 0.5rem;
    font-size: 0.625rem;
    font-weight: 200;
    line-height: 14px;
    color: white;
    max-width: 60%;
}

.home_page .cards_container .secondary_card .card_content .description {
    max-width: 100%;
}

.home_page .cards_container .main_card .card_content .price_tags_container {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_page .cards_container .secondary_card .card_content .price_tags_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
}

.home_page .cards_container .main_card .card_content .price_tags_container .price_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.375rem;
}


.home_page .cards_container .secondary_card .card_content .price_tags_container .price_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.home_page .cards_container .main_card .card_content .price_tags_container .price_container .price,
.home_page .cards_container .secondary_card .card_content .price_tags_container .price_container .price {
    font-size: 15px;
    font-weight: 800;
    color: #E7E7E7;
}

.home_page .cards_container .main_card .card_content .price_tags_container .price_container .more_details,
.home_page .cards_container .secondary_card .card_content .price_tags_container .price_container .more_details {
    background: #67EB73;
    color: #111111;
    text-decoration: none;
    padding: 0.4375rem 1rem 0.475rem 0.6875rem;
    border-radius: 2rem;
    font-size: 0.6875rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
}

.home_page .cards_container .main_card .card_content .price_tags_container .price_container .more_details .details_btn_icon,
.home_page .cards_container .secondary_card .card_content .price_tags_container .price_container .more_details .details_btn_icon {
    width: 14px;
    height: 14px;
    aspect-ratio: 1/1;
}

.home_page .cards_container .main_card .card_content .price_tags_container .tags {
    margin-top: auto;
    padding-bottom: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.875rem;
}


.home_page .cards_container .secondary_card .card_content .price_tags_container .tags {
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 0.325rem;
}

.home_page .cards_container .main_card .card_content .price_tags_container .tags .tag,
.home_page .cards_container .secondary_card .card_content .price_tags_container .tags .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0.375rem 0.75rem 0.175rem;
    background: rgba(3, 7, 14, 0.65);
    border-radius: 4rem;
    font-size: 0.625rem;
    font-weight: 300 !important;
    backdrop-filter: blur(10px);
}



.home_page .chooseCategory_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0B101C;
    margin-top: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.home_page .chooseCategory_container .category {
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.30);
    padding: 0.5625rem 0.5rem 0.4375rem;
    text-align: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border-bottom: 2px solid rgba(103, 235, 115, 0);
}

.home_page .chooseCategory_container .category:hover {
    color: rgba(255, 255, 255, 0.7);
}

.home_page .chooseCategory_container .category.active {
    color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid #67EB73;
}


.home_page .video_games_container {
    font-size: 1rem;
}


.home_page .video_games_title {
    font-size: 0.9375em;
    font-weight: 900;
    color: #ffffff;
    margin-left: 0.875rem;
    margin-top: 3.625em;
}

.home_page .video_games_subtitle {
    margin-left: 0.875rem;
    margin-top: 0.35em;
    font-size: 0.75em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.game_cards_container {
    display: grid;
    justify-content: center;
    margin-top: 1.75rem;
    gap: 1.875rem 1.75rem;
}



.game_cards_container.columns-1 {
    grid-template-columns: repeat(1, 1fr);
}

.game_cards_container.columns-2 {
    grid-template-columns: repeat(2, minmax(161px, auto));
}

.game_cards_container.columns-3 {
    grid-template-columns: repeat(3, minmax(161px, 275px));
}

.game_cards_container.columns-4 {
    grid-template-columns: repeat(4, minmax(161px, 275px));
}

.game_cards_container.columns-5 {
    grid-template-columns: repeat(5, minmax(161px, 375px));
}



.acc_activation {
    margin-top: 2.75rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
}

.acc_activation .title {
    font-size: 0.9375em;
    font-weight: 900;
}

.acc_activation .consoles {
    position: relative;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.acc_activation .consoles::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #1C1F26;
    z-index: 1;
}

.acc_activation .consoles_title {
    font-size: 0.625em;
    font-weight: 600;
}

.acc_activation .console_items {
    --active_item: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    z-index: 2;
}

.acc_activation .console_item {
    font-weight: 400;
    font-size: 0.625em;
    padding-bottom: 0.625rem;
    border-bottom: 3px solid transparent;
    user-select: none;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.acc_activation .console_item.active {
    color: #67EB73;
    border-bottom: 3px solid #67EB73;
}

.acc_activation .video_player {
    margin-top: 3rem;
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
    background: #1c1f26;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}

.acc_activation .video_player .video_iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    outline: none;
    border: none;
}


@media screen and (max-width: 390px) {
    .home_page .video_games_container {
        font-size: 1.25rem;
    }

    .home_page .video_games_title {
        font-weight: 600;
    }

    .game_cards_container {
        gap: 1.875rem 0.5rem;
    }

}





@media (max-width: 768px) {
    .home_page .cards_container {
        margin-top: 0.8125rem !important;
        display: flex;
        width: 100%;
        min-height: 250px;
        max-height: 268px;
        grid-gap: 1rem;
    }

    .home_page .cards_container .swiper {
        width: 100%;
        overflow: hidden;
    }

    .home_page .cards_container .swiper .swiper-container {
        display: flex;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        /* For smooth scrolling on iOS */

        /* Hide scrollbar */


        /* For Firefox */
        scrollbar-width: none;
        /* For Internet Explorer and Edge */
        -ms-overflow-style: none;

    }

    .home_page .cards_container .swiper .swiper-container::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari, and Opera */
    }

    .home_page .cards_container .swiper .swiper-container .swiper-slide {
        flex: 0 0 100%;
        scroll-snap-align: center;
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
        display: block;
    }


    .home_page .cards_container .secondary_card {
        width: 100% !important;
    }


    .home_page .cards_container .main_card .card_content .header .categories .category,
    .home_page .cards_container .secondary_card .card_content .header .categories .category {
        font-weight: 600;
    }



    @keyframes appearMain {
        from {
            filter: opacity(0);
            transform: translateX(-40%);
        }

        to {
            filter: opacity(1);
            transform: translateX(0);
        }
    }

    @keyframes disappearMain {
        from {
            filter: opacity(1);
            transform: translateX(0);
        }

        to {
            filter: opacity(0);
            transform: translateX(-40%);
        }
    }

    @keyframes appearSecondary {
        from {
            filter: opacity(0);
            transform: translateX(40%);
        }

        to {
            filter: opacity(1);
            transform: translateX(0);
        }
    }

    @keyframes disappearSecondary {
        from {
            filter: opacity(1);
            transform: translateX(0);
        }

        to {
            filter: opacity(0);
            transform: translateX(40%);
        }
    }

}

@media (min-width: 1280px) {
    .home_page {
        margin-top: 57px;
        width: 100%;
    }

    .home_page .header_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
    }

    .home_page .header_container .title {
        font-size: 1.375rem;
        font-weight: 900;
    }

    .home_page .header_container .subtitle {
        font-size: 0.875rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);
    }

    .home_page .cards_container {
        margin-top: 1.5rem;
        display: grid;
        grid: 'a a a b b';
        width: 100%;
        min-height: 246px;
        max-height: 411px;
        grid-gap: 1rem;
    }

    .home_page .cards_container .main_card,
    .home_page .cards_container .secondary_card {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        background: #0B101C;
        border-radius: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
    }

    .home_page .cards_container .main_card::before,
    .home_page .cards_container .secondary_card::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(139deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.06) 100%);
        z-index: +9;
    }

    .home_page .cards_container .main_card {
        grid-area: a;
    }

    .home_page .cards_container .secondary_card {
        grid-area: b;
    }

    .home_page .cards_container .main_card img.image,
    .home_page .cards_container .secondary_card img.image {
        position: inherit;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }

    .home_page .cards_container .main_card .card_content,
    .home_page .cards_container .secondary_card .card_content {
        position: absolute;
        inset: 0;
        padding: 2.375rem;
        z-index: +10;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .home_page .cards_container .main_card .card_content .header,
    .home_page .cards_container .secondary_card .card_content .header {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-grow: unset;
        justify-content: space-between;
        align-items: center;
    }

    .home_page .cards_container .main_card .card_content .header .categories,
    .home_page .cards_container .secondary_card .card_content .header .categories {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .home_page .cards_container .main_card .card_content .header .categories .category,
    .home_page .cards_container .secondary_card .card_content .header .categories .category {
        padding: 0.8rem 1.75rem 0.5rem;
        background-color: #FAFAFA;
        color: #1D1D1D;
        border-radius: 3rem;
        font-size: 1rem;
        font-weight: 900;
    }

    .home_page .cards_container .main_card .card_content .header .title_container,
    .home_page .cards_container .secondary_card .card_content .header .title_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.375rem;
    }

    .home_page .cards_container .main_card .card_content .header .title_container .title,
    .home_page .cards_container .secondary_card .card_content .header .title_container .title {
        font-size: 2rem;
        font-weight: 900;
    }

    .home_page .cards_container .main_card .card_content .header .title_container .developer,
    .home_page .cards_container .secondary_card .card_content .header .title_container .developer {
        font-size: 1rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
    }

    .home_page .cards_container .main_card .card_content .description,
    .home_page .cards_container .secondary_card .card_content .description {
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: 200;
        line-height: 23px;
        color: white;
        max-width: 60%;
    }

    .home_page .cards_container .secondary_card .card_content .description {
        max-width: 100%;
        /* height: 200px; */

    }

    .home_page .cards_container .main_card .card_content .price_tags_container {
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home_page .cards_container .secondary_card .card_content .price_tags_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

    .home_page .cards_container .main_card .card_content .price_tags_container .price_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }


    .home_page .cards_container .secondary_card .card_content .price_tags_container .price_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .home_page .cards_container .main_card .card_content .price_tags_container .price_container .price,
    .home_page .cards_container .secondary_card .card_content .price_tags_container .price_container .price {
        font-size: 2rem;
        font-weight: 800;
        color: #E7E7E7;
    }

    .home_page .cards_container .main_card .card_content .price_tags_container .price_container .more_details,
    .home_page .cards_container .secondary_card .card_content .price_tags_container .price_container .more_details {
        background: #67EB73;
        color: #111111;
        text-decoration: none;
        padding: 0.8rem 2rem 0.7rem;
        border-radius: 2rem;
        font-size: 1.125rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
    }

    .home_page .cards_container .main_card .card_content .price_tags_container .tags {
        margin-top: auto;
        padding-bottom: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }


    .home_page .cards_container .secondary_card .card_content .price_tags_container .tags {
        margin-bottom: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .home_page .cards_container .main_card .card_content .price_tags_container .tags .tag,
    .home_page .cards_container .secondary_card .card_content .price_tags_container .tags .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 0.875rem;
        padding: 0.75rem 1.5rem 0.45rem;
        background: rgba(3, 7, 14, 0.65);
        border-radius: 4rem;
        font-size: 0.875rem;
        font-weight: 300 !important;
        backdrop-filter: blur(10px);
    }


    .home_page .chooseCategory_container .category {
        padding: 1.3125rem 1rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .acc_activation {
        font-size: 1.125rem;
    }

}


@media (min-width: 1920px) {
    .home_page .cards_container {
        min-height: 411px;
        max-height: 597px;
    }

    .home_page .chooseCategory_container .category {
        padding: 1.875rem 1rem;
        font-size: 1.375rem;
        font-weight: 500;
    }

    .acc_activation {
        font-size: 1.5rem;
    }
}