.sidebar {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url('/images/bg-texture-plain.svg');
    background-color: #020409;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;
    /* overflow-x: hidden; */
    transition: all 300ms 0ms ease-out;
}

@media screen and (max-width: 768px) {
    .sidebar {
        z-index: -1;
        filter: brightness(0);
        transform: translate3d(-100%, 0, 0);
    }


    .sidebar.open {
        filter: brightness(1);
        transform: translate3d(0, 0, 0);
        z-index: +1000;
    }
}



.sidebar_frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.25rem 2rem 3.5rem 1.625rem;
    height: 100%;
    width: 100%;
}

.sidebar_frame .sidebar_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-out;
}

.sidebar_frame .sidebar_header:hover {
    filter: brightness(1.5);
}

.sidebar_frame .sidebar_header .sidebar_close .close_btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sidebar_frame .line {
    width: calc(100% + 0.65rem);
    margin-left: -0.325rem;
    height: 2px;
    margin-top: 47px;
    background: rgba(255, 255, 255, 0.06) !important;
    border: none;

}


.sidebar_frame .routes {
    height: 100%;
    width: 100%;
    max-height: 356px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    margin-top: 70px;
    padding-left: 0.3125rem;
}

.sidebar_frame .routes .route {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-decoration: none;
    gap: 2.5rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.sidebar_frame .routes .route .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px !important;
    height: 24px !important;
    transition: all 0.3s ease-out;
}

.sidebar_frame .routes .route:hover .icon {
    filter: brightness(1.75);
}

.sidebar_frame .routes .route.active .icon img {
    filter: brightness(100);
}

.sidebar_frame .routes .route.active .icon::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 100%;
    margin-top: 0.5rem;
    height: 2px;
    background: #67EB73;
    border-radius: 1rem;
}

.sidebar_frame .routes .route .icon {
    width: 18px;
    height: 18px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.sidebar_frame .routes .icon .route_name {
    color: white;
    font-size: 0.9375rem;
    font-weight: 600;
    margin-top: 0.175rem;
}

.sidebar_frame .routes .icon.active img {
    filter: brightness(10);
    animation: activeRoute 1s ease-out 1;
}



.sidebar_frame .user-info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: auto;
    margin-left: -11px;
    padding: 2rem 0 0;
}

.sidebar_frame .user-info .help_center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin-bottom: 2rem;
    transition: all 0.3s ease-out;
}

.sidebar_frame .user-info .title {
    font-size: 0.9375rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.sidebar_frame .user-info .help_icon-container {
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.325rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
}

.sidebar_frame .user-info .help_icon {
    aspect-ratio: 1/1 !important;
    width: 18px;
    height: 18px;
}

.sidebar_frame .user-info .help_center:hover .help_icon-container {
    filter: saturate(1.35);
}

.sidebar_frame .line.bottom {
    margin-top: 35px;
    margin-bottom: 32px;
}

.sidebar_frame .user-info .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 34px;
    margin-left: 0.625rem;
}


.sidebar_frame .user-info .user-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

.sidebar_frame .user-info .profile:hover .user-icon {
    background-color: rgba(255, 255, 255, 0.14);
}


@media screen and (min-width: 768px) {

    .help_btn_abbr {
        position: absolute;
        background: rgba(250, 157, 70, 0.08);
        color: #FA9D46;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.475rem 1.125rem 0.375rem;
        border-radius: 0.875rem 1.875rem 1.875rem 0.125rem;
        z-index: -1;
        filter: opacity(0);
        font-size: 0.625rem;
        font-weight: 100 !important;
        transition: filter 0.3s 0.15s ease-out, z-index 0.3s 0.15s ease-out;
    }

    /* .help_btn_abbr .help_btn_abbr_text {} */

    .help_btn_abbr.open {
        z-index: +999999;
        filter: opacity(1);
    }

    .sidebar {
        position: sticky !important;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        background-color: #020409;
        max-height: 100vh;
        padding: 2rem 0;
        width: 85px !important;
        animation: none;
    }

    .sidebar_frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0rem;
        height: 100%;
        width: 56px !important;
        overflow-y: auto;
        z-index: 1;
    }




    .sidebar_frame .main_logo {
        position: sticky;
        top: 0;
    }

    .sidebar_frame .line {
        all: unset;
        width: 100%;
        height: 2px;
        margin-top: 47px;
        background: rgba(255, 255, 255, 0.06) !important;
        border: none;
    }


    .sidebar_frame .routes {
        height: 100%;
        max-height: 356px;
        width: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
        margin-top: 47px;
        padding: 0;
    }

    .sidebar_frame .routes .icon {
        padding: 2px;
        cursor: pointer;
        transition: all 0.5s ease-out;
        position: relative;
        margin-bottom: 1rem;
    }


    .sidebar_frame .routes .icon.active::before {
        all: unset;
        content: "";
        position: absolute;
        inset: 0;
        top: 100%;
        width: 100%;
        margin-top: 0.75rem;
        height: 2px;
        border-radius: 2rem;
        background: #67EB73;
        transition: all 0.3s ease-out;
    }


    .sidebar_frame .routes .icon img {
        aspect-ratio: 1/1 !important;
    }




    .sidebar_frame .routes .icon:hover img {
        filter: brightness(1.7);
        animation: activeRoute 1s ease-out 1;
    }

    .sidebar_frame .routes .icon.active img {
        filter: brightness(10);
        animation: activeRoute 1s ease-out 1;
    }

    .sidebar_frame .user-info {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        padding-top: 0 !important;
        margin-left: 0;
        gap: 1rem;
        height: clamp(50px, 128px, 140px);
    }

    .sidebar_frame .user-info .help_btn {
        padding: 0.375rem;
        filter: opacity(0.85);
        transition: all 0.3s ease-out;
        cursor: pointer;
    }

    .sidebar_frame .user-info .help_btn:hover {
        filter: opacity(1);
    }



    .sidebar_frame .line.bottom {
        all: unset;
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.06) !important;
        border: none;
    }

    .sidebar_frame .user-info .user-icon {
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.09);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes activeRoute {
    from {
        filter: brightness(1);
    }

}