.search_page {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    font-size: 1rem;
}

.search_page .search_page_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 100%;
}

.search_page .search_page_header .filters_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
}

.search_page .search_page_header .filter_btn,
.search_page .search_page_header .prev_btn {
    background-color: #171F2D;
    color: whitesmoke;
    font-size: 1.25em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.7em;
    border-radius: 0.375em;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.search_page .search_page_header .filter_btn:hover,
.search_page .search_page_header .prev_btn:hover {
    filter: brightness(1.25);
}



.search_page .search_page_header .filter_btn {

    margin-left: auto;
}

.search_page .search_page_header .filters_container .filters_form {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.5em;
    width: 250px;
    background-color: #171F2D;
    padding: 1em 1em;
    text-align: center;
    border-radius: 0.3em;
    box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.38);
}

.search_page .search_term {
    text-wrap: nowrap;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search_page .search_term_span {
    margin-top: auto;
    max-width: 100%;
    font-weight: 200;
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.search_page .games_container {
    width: 100%;
}

.search_page .no_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.search_page .no_data .no_data_icon {
    filter: opacity(0.1);
    width: 4em;
}

.search_page .no_data_found {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    width: 100%;
}




@media screen and (min-width: 768px) {
    .search_page {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 1280px) {
    .search_page {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1920px) {
    .search_page {
        font-size: 1.5rem;
    }
}